<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="paymentService" class="com.qiuguan.boot.biz.service.PaymentServiceImpl"/>

    <bean id="digestLogInterceptor" class="com.qiuguan.boot.biz.log.DigestLogInterceptor"/>


    <bean id="outerServiceAutoProxyCreator"
          class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <value>digestLogInterceptor</value>
               <!-- <value>loadTestServiceInterceptor</value>
                <value>invokeLogInterceptor</value>
                <value>threadLocalCleanInterceptor</value>-->
            </list>
        </property>
        <property name="beanNames">
            <list>
                <value>paymentService</value>
               <!-- <value>paymentViewService</value>
                <value>serviceInstInfoService</value>-->
            </list>
        </property>
    </bean>
</beans>